---
layout: splash
header:
  overlay_color: "#007A33"
  actions:
    - label: "Suscríbete gratis al boletín"
      url: "https://github.com/mmistakes/minimal-mistakes/"
excerpt: "«Un pueblo no se improvisa. Es la estatua que más se tarda en modelar, la que más constancia y derroches de inspiración requiere.» — Blas Infante"
intro: 
  - excerpt: 'A continuación, consulta todos los recursos disponibles'
feature_row:
  - icon: "fa fa-podcast"
    title: "<a href='#' class='no-underline'>Podcasts</a>"
    excerpt: "Lorem Ipsum"
  - icon: "fa fa-book"
    title: "<a href='#' class='no-underline'>Libros</a>"
    excerpt: "Lorem Ipsum"
  - icon: "fa fa-video"
    title: "<a href='#' class='no-underline'>Audiovisual</a>"
    excerpt: "Lorem Ipsum"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
